<h1>Listing tag_attributes</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tag_attributes.each do |tag_attribute| %>
  <tr>
    <td><%= tag_attribute.key %></td>
    <td><%= tag_attribute.name %></td>
    <td><%= link_to 'Show', tag_attribute %></td>
    <td><%= link_to 'Edit', edit_tag_attribute_path(tag_attribute) %></td>
    <td><%= link_to 'Destroy', tag_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag attribute', new_tag_attribute_path %>
