<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @account.company_id %>
</p>

<p>
  <b>Client:</b>
  <%= @account.client_id %>
</p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Api key:</b>
  <%= @account.api_key %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
